# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist/
build/

# Ignore IDE settings
.vscode/
.idea/
